<%-include('../../partials/header.html')%> 

<%- include('../partials/navigation.html') %> 
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col py-3">
                <% if (messages.error) { %>
                    <p class="alert alert-danger"><%- messages.error %></p>
                <% } %> 
                <% if (messages.success) { %>
                    <p class="alert alert-success mt-4"><%- messages.success %></p>
                <% } %>
                
                <!-- payslip info--------------------------------------------------------- -->
                <div class="container-fluid">
                    <div class="search d-flex float-end p-2">
                        <form action="/employee/pay_cycle" method="post" class="d-flex">
                            <div class="input-group form-outline mb-4 pe-2">
                                <select class="select form-control" style="width: 4em !important;" name="cycle">
                                    <% for( let i = 1; i < 53; i++ ) { %>
                                        <option value="Week <%= i %>" class="w-100"><%= i %></option>
                                    <% } %>
                                </select>
                                <span class="cycle"><i class="fa-solid fa-chevron-down"></i></span>
                            </div>
                            <span><button type="submit" class="btn btn-primary btn-md">Search</button></span>
                        </form>
                        <span class="ps-2"><a href="/employee/payslip" class="btn btn-primary btn-md">View All</a></span>
                    </div>
                    <table class="table table-striped">

                        <thead style="font-size: 1.6vw;">
                          <tr>
                            <th scope="col">Emp Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Cycle</th>
                            <th scope="col">Total Hours</th>
                            <th scope="col">Hours Amount</th>
                            <th scope="col">Total OverTime</th>
                            <th scope="col">OverTime Amount</th>
                            <th scope="col">Total Pay</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 1.5vw;">
                            <% if(sal.length){ for(var i=0; i< sal.length; i++) { %>
                                <tr>
                                  <td scope="row"><%= sal[i].emp_id %></td>
                                  <td scope="row"><%= sal[i].emp_fn + ' ' + sal[i].emp_ln %></td>
                                  <td scope="row"><%= sal[i].emp_pay_cycle %></td>
                                  <td scope="row"><%= sal[i].emp_total_hours %></td>
                                  <td scope="row">$<%= sal[i].emp_hour_salary %></td>
                                  <td scope="row"><%= sal[i].emp_total_overtime %></td>
                                  <td scope="row">$<%= sal[i].emp_overtime_pay %></td>
                                  <td scope="row">$<%= sal[i].emp_salary %></td>
                                  <td scope="row">
                                    <a href="/accounts/emp_work_hours/<%= sal[i].hours_id %>">
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </a>
                                  </td>
                                </tr>
                                <% } }else { %>
                                <tr>
                                  <th scope="row" colspan="9">No Records Found</th>
                                </tr>
                            <% } %>                            
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div> 
</body>
</html>