<%-include('../../partials/header.html')%> 

<%- include('../partials/navigation.html') %>
    <div class="container-fluid">
            <div class="py-3">
                <% if (messages.error) { %>
                    <p class="alert alert-danger"><%- messages.error %></p>
                <% } %> 
                <% if (messages.success) { %>
                    <p class="alert alert-success mt-4"><%- messages.success %></p>
                <% } %>
                <div class="container-fluid">
                    <div class="search float-end">
                        <form action="/searchemp">
                            <input type="search" name="emp" id="">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <table class="table table-striped">
                        <thead style="font-size: 1.6vw;">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Email</th>
                            <th scope="col">Department</th>
                            <th scope="col">Position</th>
                            <th scope="col">Hourly Rate</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 1.5vw;">
                            <% if(emp.length){ for(var i=0; i< emp.length; i++) { %>
                                <tr>
                                  <td scope="row"><%= emp[i].emp_id %></td>
                                  <td scope="row"><%= emp[i].emp_fn + ' ' + emp[i].emp_ln %></td>
                                  <td scope="row"><%= emp[i].emp_contact %></td>
                                  <td scope="row"><%= emp[i].emp_email %></td>
                                  <td scope="row"><%= emp[i].dept_name %></td>
                                  <td scope="row"><%= emp[i].post_name %></td>
                                  <td scope="row">$<%= emp[i].emp_rate %></td>
                                  
                                  <td scope="row">
                                    <a href="/supervisor/employee_update/<%= emp[i].emp_id %>">
                                      <i class="fa-solid fa-file-pen"></i>
                                    </a>
                                    <a href="/supervisor/emp_work_hours/<%= emp[i].emp_id %>">
                                        <i class="fa-solid fa-clock"></i>
                                    </a>
                                  </td>
                                </tr>
                                <% } }else { %>
                                <tr>
                                  <th scope="row" colspan="5">No Records Found</th>
                                </tr>
                            <% } %>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
    
<%-include('../../partials/header.html')%> 