<%-include('../../partials/header.html')%> 

<%- include('../partials/navigation.html') %> 
    <div class="container-fluid">
            <div class="py-3">
                <% if (messages.error) { %>
                    <p class="alert alert-danger"><%- messages.error %></p>
                <% } %> 
                <% if (messages.success) { %>
                    <p class="alert alert-success mt-4"><%- messages.success %></p>
                <% } %>
                <div class="container-fluid">
                    <div class="search float-end p-2">
                        <form action="/accounts/cycle" method="post" class="d-flex">
                            <div class="form-group form-outline mb-4 pe-2">
                                <select class="select form-control" name="cycle">
                                    <% for( let i = 1; i < 53; i++ ) { %>
                                      <option value="Week <%= i %>"><%= i %></option>
                                    <% } %>
                                </select>
                                <span><i class="fa-solid fa-chevron-down"></i></span>
                            </div>
                            <span><button type="submit" class="btn btn-primary btn-sm">Search</button></span>
                        </form>
                    </div>
                    <table class="table table-striped">

                        <thead style="font-size: 1.6vw;">
                          <tr>
                            <th scope="col">Emp Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Cycle</th>
                            <th scope="col">Total Hours</th>
                            <th scope="col">Hours Amount</th>
                            <th scope="col">Total OverTime</th>
                            <th scope="col">OverTime Amount</th>
                            <th scope="col">Total Pay</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: 1.5vw;">
                            <% if(sal.length){ for(var i=0; i< sal.length; i++) { %>
                                <tr>
                                  <td scope="row"><%= sal[i].emp_id %></td>
                                  <td scope="row"><%= sal[i].emp_fn + ' ' + sal[i].emp_ln %></td>
                                  <td scope="row"><%= sal[i].emp_pay_cycle %></td>
                                  <td scope="row"><%= sal[i].emp_total_hours %></td>
                                  <td scope="row">$<%= sal[i].total_hours_pay %></td>
                                  <td scope="row"><%= sal[i].emp_total_overtime %></td>
                                  <td scope="row">$<%= sal[i].total_overtime_pay %></td>
                                  <td scope="row">$<%= sal[i].total_pay %></td>
                                  
                                  <td scope="row">
                                    <a href="/accounts/final_salary/<%= sal[i].hours_id %>">
                                      <i class="fa-solid fa-file-pen"></i>
                                    </a>
                                    <a href="/accounts/emp_work_hours/<%= sal[i].hours_id %>">
                                        <i class="fa-solid fa-clock"></i>
                                    </a>
                                  </td>
                                </tr>
                                <% } }else { %>
                                <tr>
                                  <th scope="row" colspan="9">No Records Found</th>
                                </tr>
                            <% } %>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
<%-include('../../partials/footer.html')%> 