<%-include('../../partials/header.html')%>
 
<%- include('../partials/navigation.html') %>
    <div class="container-fluid">
            <div class="py-3">
                <% if (messages.error) { %>
                    <p class="alert alert-danger"><%- messages.error %></p>
                <% } %> 
                <% if (messages.success) { %>
                    <p class="alert alert-success mt-4"><%- messages.success %></p>
                <% } %>
                <div class="container-fluid">
                    <section class="h-100">
                        <div class="container-fluid py-5 h-100">
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-8 col-xl-6">
                              <div class="card rounded-3">
                                <div class="card-body p-4 p-md-5">
                                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add Employee</h3>
                      
                                  <form class="px-md-2" action="/supervisor/add" method="post">
                                    <div class="row">
                                        <div class="form-outline mb-4 col">
                                          <input type="text" class="form-control" name="emp_fn" />
                                          <label class="form-label" for="emp_fn">First Name</label>
                                        </div>
                                        <div class="form-outline mb-4 col">
                                          <input type="text" class="form-control" name="emp_ln" />
                                          <label class="form-label" for="emp_ln">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group form-outline mb-4">
                                            <select class="select form-control" name="position">
                                                <% Object.values(post).forEach((post) => { %> 
                                                    <option value="<%= post.id %>"><%= post.post_name %></option>
                                                    <% }) %>
                                                </select>
                                            <span class="select-arrow"></span>
                                            <label class="form-label" for="position">Position</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4 col">
                                          <input type="text" class="form-control" name="emp_contact" />
                                          <label class="form-label" for="emp_contact">Contact Number</label>
                                        </div>
                                        <div class="form-outline mb-4 col">
                                          <input type="text" class="form-control" name="emp_email" />
                                          <label class="form-label" for="emp_contact">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4 col">
                                          <input type="text" class="form-control" name="emp_password" />
                                          <label class="form-label" for="emp_password">Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4 col">
                                          <input type="text" class="form-control" name="rate" />
                                          <label class="form-label" for="rate">Base Rate</label>
                                        </div>
                                    </div>
                      
                                    <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                      
                                  </form>
                      
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                </div>
            </div>
        </div>
    </div> 
<%-include('../../partials/footer.html')%> 